*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

#startCont{
  width: 70%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#startCont *{
  margin: 15px auto ;
  padding: 10px;
}
#startCont p{
  width: 70%;
  text-align: center;
  margin: 10px auto;
}
#startCont input,button{
  width: 40%;
}


#questionCont{
  display: none;
  width: 70%;
  margin: 100px auto ;
  padding: 100px;
  padding-left: 400px;
}

#endResultCont{
  display: none;
  width: 70%;
  margin: 100px auto ;
  padding: 100px;
}
#leaderboardCont{
  display: none;
  width: 70%;
  margin: 100px auto ;
  padding: 100px;

}


